:root {
    --primary-color:#FFFFFF;
    --secondary-color:#CE3B4F;
    --accent1-color:#30638E;
    --accent2-color:#000E14;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 200px, 200px, 200px, 200px;
    grid-gap: 20px;
}