:root {
    --primary-color:#FFFFFF;
    --secondary-color:#CE3B4F;
    --accent1-color:#30638E;
    --accent2-color:#000E14;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 20px;
}

header img {
    width: 150px;
    height: auto;
}

.intro {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-gap: 10px;
}

.intro h1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.intro img{
    width: 150px;
    height: auto;
}